
.conteudo {  
    margin-top: 5rem !important;
    margin:  auto;
    height: 27.5rem;
    width: 100% !important; 
}

.textos {
    padding: 0.438rem;
    display: flex;  
    height: 17.595rem;
    margin-left: 0rem !important; 
    width: 100% !important;
    margin: 9.375rem;
}

.icons-index {
    padding: 12% 0rem 0rem 0% !important;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50px;
    color: var(--corBranco);
}


.textos h5{
   margin-top: 1rem !important;
}

.textos h3{
    margin: 0 !important;
}

.meu-perfil,
.detalhe1,
.detalhe2 {
    padding: 0px !important;
    position: absolute;
    top: calc(-59% + 70px);
    left: 10%;
    width: 18.75rem;
    height: 18.75rem;
    float: leff;
    clip-path: circle(50% at 50% 50%);
    margin: auto;
}

.meu-perfil {
    z-index: 4;
    background: radial-gradient(50% 50% at 50% 50%, #02325A 0%, #7D071A 100%);
    transition: 200ms ease-out;
}

main{ 
    margin: calc(100vh + 5px) 7px !important;
}

main h1{
    font-size: 2.1rem;
}
 
main h4{
    font-size: 1.2rem;
}
main p{   
    text-align: justify !important;
    font-size: 1.2rem;
}

.container, .item{
    display: block !important;
}

.container{
    margin: 0;
    justify-content: center;
    align-items: center;
}
.item{
    margin: 0;
    width: 70% !important; 
}

