:root {
    --corPrincipal: #131313;
    --corSecundaria: #90081E;
    --corNeutra: #242424;
    --corTres: #02325A;
    --corBranco: #fafafa;
    --corSubTextos: #a0A0A0;
}
 

.ir-topo{
    position: fixed;
    bottom: 20px;
    right: 20px;
    visibility: hidden;
}

.ir-topo:hover{
    visibility: visible;
}

.ir-topo label{
    color: var(--corSecundaria);
    text-shadow: 0px 0px 10px var(--corTres);
    position: relative;
    bottom: 65px;
    font-size: .8rem;
}

#ir-para-topo{
    visibility: visible !important;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background-color: var(--corPrincipal);
}


h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    color: var(--corBranco);
}

.efeito1,
.efeito2 {
    background: var(--corSecundaria);
    position: fixed;
    width: 14.5rem;
    height: 14.5rem;
    border-radius: 100%;
    z-index: -1;
}

.efeito1 {
    right: 0%;
    top: 0%;
    filter: blur(180px);
}

.efeito2 {
    left: 0%;
    bottom: 0%;
    filter: blur(180px);
}

.menu {
    position: absolute;
    top: 0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    box-shadow: 0px 1px 1px rgba(144, 8, 31, 0.199);
}

.menu img{
    visibility: visible !important;
}

.menu ul,
li {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    gap: 2.504rem;
    visibility: hidden;
} 
 
li:hover{
    visibility: visible;
    transition: 100ms ease-in;
}
.menu label{  
    display: flex;
    position: absolute;
    bottom: -25px;
    color: var(--corBranco);
    background-color: var(--corNeutra); 
    padding: 5px 15px;
    border-radius: 20px; 
    box-shadow: 4px 4px 4px var(--corTres);
    list-style: none;
    text-decoration: none;
    transition: 100ms ease-in;
}

.menu label::after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: var(--corNeutra) transparent;
    border-width: 0 15px 09px;
    top: -9px;
    left: 60%;
    margin-left: -25px;
}

.menu label:hover{
    color: var(--corSecundaria);
    font-size: 1.1rem;
}
#perc {
    position: fixed;
    top: 0px; 
    z-index: 100;
    height: 0.5rem;
    background-color: var(--corSecundaria);
    transition: 410ms;
    }

#portifolio {
    margin: 50px 0px 50px 0px;
}

.conteudo {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 51.75rem;
    height: 27.5rem;
}

.meu-perfil,
.detalhe1,
.detalhe2 {
    padding: 0px !important;
    position: absolute;
    width: 18.75rem;
    height: 18.75rem;
    float: left;
    clip-path: circle(50% at 50% 50%);
    margin: auto;
}

.meu-perfil {
    z-index: 4;
    background: radial-gradient(50% 50% at 50% 50%, #02325A 0%, #7D071A 100%);
    transition: 200ms ease-out;
}

.meu-perfil:hover {
    transform: scale(105%);
    transition: 200ms ease-in;
    background: radial-gradient(50% 50% at 50% 50%, #003f72 20%, #7D071A 100%);
}

.meu-perfil img {
    width: 204px;
    margin: 10px 50px;
}

.detalhe1 {
    z-index: 3;
    margin: 5px 0px 0px 6px;
    background-color: var(--corTres);
}

.detalhe2 {
    z-index: 2;
    margin: 7px 0px 0px 12px;
    background-color: var(--corSecundaria);
    filter: blur(2px);
}

.textos {
    padding-left: 0.438rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30.058rem;
    height: 17.595rem;
    margin-left: 20rem; 
}

.textos h3 {
    margin-top: 1.5rem;
    text-align: left !important;
    font-size: 1.5rem;
    color: var(--corSubTextos);
}

.textos h2 { 
    font-size: 3rem;
    color: var(--corBranco);
}

.textos h5 {
    margin-top: 3rem;
    font-weight: normal;
    font-size: 1.25rem;
    color: var(--corSubTextos);
}


.icons-index {
    padding: 10% 10rem 0rem 0rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50px;
    color: var(--corBranco);
}

.icons-index i {
    cursor: pointer;
}

main {
    margin: auto 12%;
    margin-top: calc(100vh + 50px);
}

#sub-titulo {
    color: var(--corSubTextos);
    font-weight: normal;
    margin-bottom: 3rem;
}

main p {
    color: var(--corSubTextos);
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    padding: 0px; 
    margin: 3rem 0rem;
}   
 

.item { 
    margin: 50px; 
    height: 15rem; 
    box-shadow: 0px 1px 4px #90081E, 0px 1px 2px rgba(255, 255, 255, 0.25);
    border-radius: 10px;  
    z-index: 0; 
    padding: 10px 15px;
    transition: 300ms; 
    flex: 1 1 12.5rem;
} 

.main{
    margin-top: 6rem !important;
}

.item p{
    color: transparent;
    text-align: left;
    position: relative;
    margin-top: -100%;
}

.item p:hover{
    color: var(--corBranco);
    filter: none !important;
}

.item img{ 
    position: relative;
    width: 100%;
    height: 100%;
}

.item:hover {
    transform: scale(105%);
    transition: 300ms;
    box-shadow: 0px 1px 10px #90081E, 0px 1px 8px rgba(255, 255, 255, 0.25);
    background-color: var(--corNeutra);
}

.sobre {
    display: flex;
    flex-wrap: wrap;  
}

.divisoria{ 
    background-color: var(--corNeutra);
    padding: 2rem 3rem;
}


.foto-sobre {  
    height: 20rem;
    background: var(--corPrincipal);
    box-shadow: 0px 1px 4px #90081E, 0px 1px 2px rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    flex: 1 1 250px;
    transition: 400ms;
}

.foto-sobre img{
    height: 20rem;
width: 100%;
border-radius: 21px;
transition: 400ms;
}

.foto-sobre:hover{
    transform: scale(105%);
    box-shadow: 0px 1px 40px #90081E, 0px 1px 20px rgba(255, 255, 255, 0.25);
    transition: 400ms;
}

.divisoria ul, li{
    color: var(--corBranco);
}

.cursos{
    padding: 1rem;
}

.cursos h4{
    padding-bottom: .2rem;
    font-weight: normal;
}

.conteudo-sobre{
    text-align: left !important;
    margin-left: 2rem;
    padding: 2rem;
    flex: 1 1 350px;
}

.projeto{
    width: 16rem !important;
    height: 14rem !important;  
    margin-bottom: 5rem !important;
}


.projeto h1{
    text-align: center;
    font-size: 1.8rem;
}

.projeto h3{
    text-align: center;
    font-size: 1.1rem;
    font-weight: normal;
    margin-top: 1rem;
}

.projeto a{
    text-decoration: none !important;
} 

.projeto h5{
    text-align: center;
    position: relative;
    bottom: -1rem; 
    cursor: pointer ;
}

.fundo-branco{
    width: 16rem !important;
    height: 14rem !important;  
    background-color: var(--corBranco);
}


footer{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 1;
    background-color: var(--corPrincipal);
    width: 100%;
}

.bloco{   
    display: block;
    justify-content: center; 
    width: 25%;
    height: 100%;
    padding: 15px 25px;
    text-align: center;
    flex: 1 1 15rem; 
}

.bloco img{ 
    width: 10rem;
}

.bloco h2,.bloco h3{
    display: block;
    text-align: center;
    margin: 10%;
}

.bloco h3{
    color: var(--corSubTextos);
    font-size: 1rem;
    font-weight: normal;
    cursor: pointer;
}

.rede-sociais > a, .bloco > a{
    font-size: 2rem;
    text-decoration: none !important;
}
 
.flip-in-ver-right {
	-webkit-animation: flip-in-ver-right 900ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-right 900ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes flip-in-ver-right {
    0% {
      -webkit-transform: rotateY(-80deg);
              transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-ver-right {
    0% {
      -webkit-transform: rotateY(-80deg);
              transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  .scale-in-ver-center {
	-webkit-animation: scale-in-ver-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes scale-in-ver-center {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-center {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      opacity: 1;
    }
  }
  
  .tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 3s both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 3s both;
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  
.reveal {
	position: relative;
	transform: translateY(144px);
	opacity: 0;
	transition: 1s all ease;
}

.reveal.rolar{
	transform: translateY(0);
	opacity: 1;
}
 