:root {
    --corPrincipal: #131313;
    --corSecundaria: #90081E;
    --corNeutra: #242424;
    --corTres: #02325A;
    --corBranco: #fafafa;
    --corSubTextos: #a0A0A0;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: var(--corPrincipal);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fita-card {
    z-index: 1;
    width: 82px;
    height: 65px;
    background: linear-gradient(180deg, #711515 0%, #131313 100%);
    border-radius: 2px
}

.furo-card {
    z-index: 2;
    position: absolute;
    width: 92px;
    height: 8.06px;
    border-radius: 100px;
    top: 9.5%;
    left: 50%;
    transform: translate(-50%, -10%);
    background: linear-gradient(0deg, #131313 22.38%, rgba(19, 19, 19, 0) 80.54%);
}

.card {
    position: absolute;
    width: 392px;
    height: 540px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #242424;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -2px 4px 4px rgba(0, 0, 0, 0.25);
}

.detalhe-card {
    width: 392px;
    height: 178px;
    background: linear-gradient(231.77deg, #02325A 6.47%, #90081E 90.57%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: 3;
    clip-path: polygon(100% 100%, 100% 54%, 50% 0, 0 54%, 0 100%);
    border-radius: 8px 5px;
}

.foto {
    z-index: 4;
    position: absolute;
    width: 142px;
    height: 142px;
    background: url(), #90081E;
    clip-path: circle(50% at 50% 50%);
    top: 27.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.foto img {
    width: 100px;
    position: absolute;
    top: -50px;
    left: 20px;
}

.menu-barra-lateral {
    width: 256px;
    height: 100vh;
    background-color: var(--corPrincipal);
    float: left;
}

.card h1 {
    line-height: 140px;
    text-align: center;
    font-size: 2rem;
    color: var(--corBranco);
}

.card h2 {
    color: var(--corSubTextos);
    text-align: center;
    font-size: 1.5rem;
    margin-top: -50px;
    cursor: pointer;
}

.card a {
    text-decoration: none;
}

.card p {
    margin-top: 10%;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: var(--corSubTextos);
}

.icons {
    padding: 12% 5rem 0rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    color: var(--corBranco);
}

.icons i {
    cursor: pointer;
}

.card button {
    display: flex;
    margin: 10% auto;
    font-size: 1.25rem;
    background-color: transparent;
    border: 0px transparent;
    cursor: pointer;
    color: #90081E !important;
}

.card button:hover {
    text-shadow: 0px 0px 22px #02325A, 5px 5px 50px #022B4E;

}

#seta {
    margin-left: 10px;
    color: var(--corTres);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    color: var(--corBranco);
}

.efeito1,
.efeito2 {
    background: var(--corSecundaria);
    position: fixed;
    width: 14.5rem;
    height: 14.5rem;
    border-radius: 100%;
}

.efeito1 {
    right: 0%;
    top: 0%;
    filter: blur(250px);
}

.efeito2 {
    left: 0%;
    bottom: 0%;
    filter: blur(250px);
}

.menu {
    height: 70px;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    box-shadow: 0px 1px 1px rgba(144, 8, 31, 0.199);
} 

ul,
li {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    gap: 2.504rem;
}

ul span {
    color: var(--corBranco);
    font-size: 3rem !important;
    cursor: pointer;
}

#portifolio {
    margin: 50px 0px 50px 0px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}
.conteudo {    
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 51.75rem;
    height: 27.5rem;  
}

.meu-perfil,
.detalhe1,
.detalhe2 {
    padding: 0px !important;
    position: absolute;
    width: 18.75rem;
    height: 18.75rem;
    float: left;
    clip-path: circle(50% at 50% 50%); 
    margin: auto;
}

.meu-perfil{ 
    z-index: 4;
    background: radial-gradient(50% 50% at 50% 50%, #02325A 0%, #7D071A 100%);
}

.meu-perfil img{
    width: 204px;  
    margin: 10px 50px; 
}

.detalhe1{
    z-index: 3;
    margin: 5px 0px 0px 6px;
    background-color: var(--corTres); 
}

.detalhe2{
    z-index: 2;
    margin: 7px 0px 0px 12px;
    background-color: var(--corSecundaria);
    filter: blur(2px);
}

.textos{ 
    padding-left: 7px;
    display: flex;
flex-direction: column;
align-items: flex-start;
width: 480.92px;
height: 281.52px;
margin-left: 320px;
gap: 0.953rem;
}

.textos h3{
    font-size: 2.625rem;
    color: var(--corSubTextos);
}

.textos h2{
    font-size: 3.813rem;
    color: var(--corBranco);
}

.textos h5{
    font-weight: normal;
    font-size: 1.75rem;
    color: var(--corSubTextos);
}


.icons-index {
    padding: 10% 10rem 0rem 0rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50px;
    color: var(--corBranco);
}

.icons-index i {
    cursor: pointer;
} 

@media screen and (max-width: 498px) {
    .card {
        width: 376px;
    }

    .detalhe-card {
        width: 376px;
    }

    .fita-card {
        height: 180px;
    }

    .furo-card {
        position: absolute;
        width: 92px;
        height: 8.06px;
        top: 21%;
        left: 50%;
    }
}