:root {
  --corPrincipal: #085e3b;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Montserrat', sans-serif;
}
.sairr{
    display: none !important;
    visibility: hidden !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  scroll-behavior: smooth;
}

body {
  background-image: url('../images/background.png');
  background-attachment: fixed;
  backface-visibility: hidden;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #00000075;
  backdrop-filter: blur(12.5px);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--corPrincipal);
  border-radius: 10px;
}

/*****************COMEÇO MENU*********************/

ul {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: var(--corPrincipal);
}

header {
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--corPrincipal);
  position: sticky;
  width: 100%;
  min-width: 874px;
  margin: 0;
  transition: 0.5s;
  z-index: 100000;
  top: 0;
  color: #fff;
}

.header-inicio {
  position: absolute;
  top: 0;
  background-color: transparent !important;
  color: var(--corPrincipal) !important;
}

.logo {
  background-image: url('../images/logo.png');
  background-size: 100px;
  background-repeat: no-repeat;
  width: 150px;
  height: calc(100% + 3rem);
  position: relative;
  cursor: pointer;
  z-index: 10000000;
}

.inicio {
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/back.webp) fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-top: 10rem;
}

section {
  padding: 2rem;
}

section h1 {
  font-size: 3rem;
  text-align: left;
  margin-bottom: 1.1rem;
  color: #00a060;
}

section h3 {
  color: #fff;
  font-weight: normal;
}

section input {
  height: 3rem;
  width: 40rem;
  text-align: left;
  padding-left: 8px;
}


section input:nth-child(1) {
  position: absolute;
  margin-top: 1px;
  float: left;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

section label {
  color: rgb(151, 151, 151);
}

.sair {
  display: none;
  visibility: hidden;
  transition: 300ms;
  color: #fff;
}

.msg-ip {
  display: none;
  visibility: hidden;
}

section button {
  background-color: var(--corPrincipal);
  padding: 0.1rem;
  text-align: center;
  margin-top: 15rem;
  position: absolute;
  border-radius: 10px;
  width: 10rem;
  transition: 300ms;
}

section input:nth-child(2) {
  position: absolute;
  width: 10rem;
  margin-top: 15rem;
  background-color: var(--corPrincipal);
  text-align: center;
  color: #fff;
  padding-right: 1rem;
  cursor: pointer;
  transition: 300ms;
  float: left;
}


section input:nth-child(4) {
  display: none;
  visibility: hidden;
}

.hover {
  background-color: #a11;
  /* transform: scale(110%);
 transition: 300ms;  */
}

span#msg {
  position: relative;
  border: 1px slod red;
  float: left;
  margin-top: -5rem;
  width: 60%;
  height: 15rem;
}

span#att {
  position: relative;
  border: 1px slod red;
  float: left;
  width: 60%;
  height: 15rem;
  display: flex;
  align-items: center;
}

.logo a {
  position: absolute;
  padding: 30px 40px;
  background: transparent !important;
  color: transparent !important;
}

.menu {
  display: flex;
  list-style: none;
  gap: 4.25rem;
}

.menu a {
  display: block;
  padding: .1rem;
  color: white;
}

#btn-celular {
  display: none;
}

.sticky {
  background-color: white;
  transition: 0.5s;
  font-weight: bold;
}

.sticky a {
  color: var(--corPrincipal);
}

.sticky2 {
  background-image: url('../images/logo.png');
  background-size: 100px;
  background-repeat: no-repeat;
  width: 150px;
  height: calc(100% + 3rem);
  position: relative;
  z-index: 10000000;
}

/*****************FIM MENU*********************

******************MENU FIXO-*********************/

.second-nave {
  visibility: hidden;
  position: absolute;
}

/*******************CORPO***********************/

.area-logo {
  display: flex;
  justify-content: center;
}

#bem-vindo {
  padding: 52px;
  width: 450px;
}

main {
  width: 100%;
  max-width: 1200px;
  min-width: 1024px;
  margin: auto;
}

main h2 {
  color: var(--corPrincipal);
  font-size: 2rem;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

main p {
  padding: 10px;
}

main li {
  margin-left: 50px;
  padding-bottom: 9px;
}

main h4 {
  color: var(--corPrincipal);
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.bloco {
  background-color: #085e3cb4;
  display: inline;
  margin: 7px;
  position: relative;
  float: left;
  align-items: center;
  color: white;
  border-radius: 6px;
  -webkit-box-shadow: 8px 2px 19px -2px rgba(1, 46, 28, 0.46);
  -moz-box-shadow: 8px 2px 19px -2px rgba(1, 46, 28, 0.46);
  box-shadow: 8px 2px 19px -2px rgba(1, 46, 28, 0.46);
  flex: 1 1 260px;
}

#iconblock {
  font-size: 30px;
}

#bloco {
  margin-top: 10px;
  font-size: 17px;
}

#blocktitle {
  font-size: 25px;
  text-align: center;
}

.principal {
  display: flex;
  flex-wrap: wrap;
}

#item {
  flex: 1 450px;
  margin-right: 10px;
}

#img {
  border-radius: 10px;
  width: 100%;
  -webkit-box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.45);
}

.barra {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(90deg, rgba(3, 68, 41, 1) 0%, rgba(8, 94, 59, 1) 58%, rgba(11, 121, 76, 1) 90%);
  margin: 50px 0px;
}

.quadrado {
  flex: 1 1 250px;
  color: white;
  align-items: center;
}

.quadrado h4 {
  font-size: 1.5rem;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  color: #fff;
}

.quadrado h5 {
  font-size: 1rem;
  text-align: center;
  padding-top: -10px;
  padding-bottom: 30px;
  color: #fff;
}

#imgquadrado {
  border-radius: 10px;
  width: 300px;
  display: block;
  margin: 0px auto;
  margin-bottom: 5px;
}

#imgquadrado2 {
  border-radius: 10px;
  width: 250px;
  display: block;
  margin: 0px auto;
  margin-bottom: 5px;
}

#divisor {
  height: 5px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to left, var(--corPrincipal), #085e3cb4);
  margin: 30px 5px;
}

.footer {
  position: absolute;
  bottom: 1;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--corPrincipal);
  padding: 40px;
  margin-top: 50px;
  width: 100%;
}

.footerSobre {
  flex: 1 350px;
  padding: 10px 5px;
  width: 100%;
}

.footer h3 {
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 30px;
  color: white;
}

.footer hr {
  opacity: 0;
}

#pfooter {
  display: inline;
  font-size: 15px;
  font-weight: bold;

}

#iconfooter {
  color: #fff;
  margin: 0px 5px 0px 15px;
}

.top {
  --offset: 50px;
  position: sticky;
  bottom: 50px;
  left: 100%;
  place-self: end;
  margin-top: calc(100vh + var(--offset));
  text-decoration: none;
  padding: 2px;
  color: var(--corPrincipal);
  white-space: nowrap; 
  transition: 400ms;
}

.area-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.nv-partida {
  width: 500px;
  height: 400px;
  background-color: #cbd1cf50;
  margin: 10px;
  border-radius: 20px;
  flex: 1 1 400px;
}

.nv-partida h2,
h4 {
  color: var(--corPrincipal);
  font-size: 30px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 0px;
}

.nv-partida h6 {
  color: var(--corPrincipal);
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-size: 15px;
  text-align: center;
  position: relative;
  top: 30px;
}

#NumeroJogadores {
  width: 40px;
  height: 100%;
  border-radius: 10px;
  position: relative;
  left: 0;
  padding: 0;
  margin: 0;
  display: inline;
  margin-right: 5px;
}

#cx-input {
  width: 250px;
  height: 40px;
  border: solid 2.8px;
  border-radius: 10px;
  border-color: #fff;
  background-color: #ffffff00;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  border-style: inset;
  padding: 0;
}

#cx-input {
  font-size: 1.2rem;
  color: #756767c2;
  ;
}

input,
select {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border-color: #fff;
  background-color: #ffffff00;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  font-size: 1.2rem;
  text-align: center;
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
}

select-selected {
  background-color: red;
}

input::placeholder {
  font-size: 1.2rem;
  color: #756767c2;
  ;
}

input:focus {
  border-color: #077e4e;
}

input:target {
  color: var(--corPrincipal);
  background-color: #048b55;
}

button {
  background-color: rgba(255, 255, 255, 0.185);
  padding: 10px 30px;
  color: var(--corPrincipal);
  font-size: 1rem;
  font-weight: bold;
  border-color: white;
  border-radius: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.4rem;
  cursor: pointer;
}

button:hover {
  background-color: #077e4e;
  color: #fff
}

#h5 {
  color: #03814f;
}

.area-quadra {
  background-color: rgba(199, 199, 199, 0.24);
  border-radius: 50px;
  margin: 20px 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.quadra01 img {
  height: 90vh;
}

.conteudo-quadra {
  width: 500px;
  height: 250px;
  border-radius: 80px;
  background-color: rgba(216, 216, 216, 0.932);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  box-shadow: 7px 16px 15px 4px rgba(0, 0, 0, 0.322);
}

.conteudo-quadra p {
  text-align: center;
  color: var(--corPrincipal);
}

.conteudo-quadra h3 {
  text-align: center;
  color: var(--corPrincipal);
  font-size: 24px;
}

.conteudo-quadra-andamento {
  width: 500px;
  height: 250px;
  border-radius: 80px;
  background-color: rgba(216, 216, 216, 0.932);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  box-shadow: 7px 16px 15px 4px rgba(0, 0, 0, 0.322);
}

.conteudo-quadra-andamento p {
  text-align: center;
  color: var(--corPrincipal);
}

.conteudo-quadra-andamento h3 {
  text-align: center;
  color: var(--corPrincipal);
  font-size: 24px;
}

#status-quadra {
  font-size: 39px !important;
  font-weight: bolder !important;
  padding: 5px;
}

#info {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -400%);
  cursor: pointer;
}

#info:hover {
  width: 50.5px;
  height: 50.5px;
  box-shadow: inset 10px 10px 300px 0px rgba(255, 255, 255, 0.39);
  border-radius: 50px;
}

.filtro p {
  color: #03814f;
  margin-top: 30px;
}

#filtro {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border-color: #fff;
  background-color: #ffffff00;
  margin-top: 2rem;
  font-size: 1.2rem;
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
}

#filtro input::placeholder {
  font-size: 1.2rem;
  color: #756767c2;
  ;
}

#filtro input:focus {
  border-color: #077e4e;
}

.horarios {
  text-align: center;
  line-height: 90px;
  width: 90%;
  height: 90px;
  font-size: 25px;
  font-weight: bold;
  color: var(--corPrincipal);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
}

#tempo {
  text-align: center;
}

.alerta {
  margin: 10px auto;
  width: 50%;
  height: 70px;
  background-color: rgba(221, 221, 221, 0.562);
  border-radius: 80px;
}

.infos {
  width: 300px;
  height: 250px;
  border: solid 1px;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  color: pink;
}

.active {
  visibility: hidden;
}

.Nactive {
  visibility: visible !important;
}

.andamento {
  z-index: 1000;
  position: absolute;
  top: 79%;
  left: 50%;
}

.cria-partida {
  display: block;
}

.filtro p {
  color: #03814f;
  margin-top: 30px;
}

#filtro {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border-color: #fff;
  background-color: #ffffff00;
  margin-top: 2rem;
  font-size: 1.2rem;
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
}

#filtro input::placeholder {
  font-size: 1.2rem;
  color: #756767c2;

}

#filtro input:focus {
  border-color: #077e4e;
}

.alerta {
  margin: 10px auto;
  width: 50%;
  height: 70px;
  background-color: rgba(221, 221, 221, 0.562);
  border-radius: 80px;
}

#message-erro {
  color: red;
  font-size: 20px;
  line-height: 70px;
  text-align: center;
}

#message-sucesso {
  color: var(--corPrincipal);
  font-size: 20px;
  line-height: 70px;
  text-align: center;
}

#tempo button {
  color: var(--corPrincipal);
  font-size: 25px;
  display: inline;
  background-color: rgba(255, 255, 255, 0);
  border: solid 0px;
  padding: 1px;
}

#tempo button:hover {
  color: #03814f;
}


/**********ANIMACOES***********/

.reveal {
  position: relative;
  transform: translateY(144px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.rolar {
  transform: translateY(0);
  opacity: 1;
}

@import url(https://fonts.googleapis.com/css?family=Lobster);

@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);

.alert {
  position: absolute;
  right: 0;
  top: 55%;
  width: 50%;
  display: block;
}

.btn-fecha {
  font-size: 1.5rem;
  margin-top: 10px;
}

.alert .inner {
  display: block;
  padding: 6px;
  margin: 6px;
  border-radius: 3px;
  border: 1px solid rgb(180, 180, 180);
  background-color: rgb(212, 212, 212);
  height: 40px;
  line-height: 25px;
}

.alert .close {
  float: right;
  margin: 3px 12px 0px 0px;
  cursor: pointer;
}

.alert .inner,
.alert .close {
  color: rgb(88, 88, 88);
}

.alert input {
  display: none;
}

.alert input:checked~* {
  animation-name: dismiss, hide;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0s, 100ms;
}

.top img:hover{
  transform: scale(105%);
  transform: rotate(360deg) ;
  transition: 400ms;
}

.alert.error .inner {
  border: 1px solid rgb(238, 211, 215);
  background-color: rgb(242, 222, 222);
}

.alert.error .inner,
.alert.error .close {
  color: rgb(185, 74, 72);
}

.alert.success .inner {
  border: 1px solid rgb(214, 233, 198);
  background-color: rgb(223, 240, 216);
}

.alert.success .inner,
.alert.success .close {
  color: rgb(70, 136, 71);
}

.alert.info .inner {
  border: 1px solid rgb(188, 232, 241);
  background-color: rgb(217, 237, 247);
}

.alert.info .inner,
.alert.info .close {
  color: rgb(58, 135, 173);
}

.alert.warning .inner {
  border: 1px solid rgb(251, 238, 213);
  background-color: rgb(252, 248, 227);
}

.alert.warning .inner,
.alert.warning .close {
  color: rgb(192, 152, 83);
}

@keyframes dismiss {
  0% {
    opacity: 1;
  }

  90%,
  100% {
    opacity: 0;
    font-size: 0.1px;
    transform: scale(0);
  }
}

@keyframes hide {
  100% {
    height: 0px;
    width: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border: 0px;
  }
}

.manutencao img {
  width: 100%;
}

.fim {
  animation: alert 1s linear infinite alternate;
}

@keyframes fim {
  0% {
    background: #112
  }

  100% {
    background: #a11;
  }
}