@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --cor01: #085E3B;
    --cor02: #00A060;
}

body {
    background-image: url(../../images/background.png);
    background-position: fixed;
}

h1,
h2,
h3 {
    color: var(--cor01);
    text-align: center;
}

p {
    color: var(--cor02);
}

header {
    position: fixed;
    left: 0;
    height: 100%;
    width: 100px;
    background-color: var(--cor01);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
    z-index: 2;
}

header button {
    background-color: transparent;
    border: 0;
}

.sub-header-mob {
    background-color: #008b54;
    position: fixed;
    display: grid !important;
    visibility: visible;
    place-items: center;
    top: 60px;
    transform: translate(0%, -150%);
    transition: all 500ms;
    width: 100%;
    z-index: 1;
}


.sub-header-mob a {
    text-decoration: none;
    width: 100%;
    padding: 1rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-bottom: 0.5px solid #006d212a;
}

.sub-header-mob img {
    position: relative;
    float: left;
}

.sub-visi {
    transition: all 500ms;
    transform: translate(0%, 0%) !important;
}



section#sair {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000073;
    display: none;
    visibility: hidden;
}

.deseja-sair {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0px 0px 8px 8px;
}

.but {
    margin-top: 1rem;
}

.but button {
    padding: 0.3rem 1.5rem;
    border: 0px;
    border-radius: 5px;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
}

.but button:first-child {
    background-color: var(--cor01);
}

.but button:last-child {
    background-color: #b40000;
}

.but button:first-child:hover {
    background-color: #00A060;
}

.but button:last-child:hover {
    background-color: #df0a0a;
}

.menu-header img {
    cursor: pointer;
}

.menu-header {
    margin: 0 auto;
    gap: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.config-setting img {
    position: absolute;
    top: 0;
    right: 0 !important;
    opacity: 1;
    background-color: var(--cor01);
    padding: 5px;
    border-radius: 50px;
    transition: all 500ms ease-in-out;
}

#set,
#set2 {
    transform: rotate(360deg);
    transition: all 500ms ease-in-out;
}

#bbtn {
    background-color: var(--cor01);
    border-radius: 100%;
    z-index: 10;
    transition: all 500ms ease-in-out;
}

#bbtn2 {
    display: none;
    visibility: hidden;
}

.lop {
    transform: rotate(180deg) !important;
    transition: all 500ms ease-in-out;
}

.icon-not {
    transform: translate(3.5rem, -2rem) scale(80%) !important;
    opacity: 1 !important;
    transition: all 500ms ease-in-out;
}

.icon-graf {
    transform: translate(5rem, 0rem) scale(80%) !important;
    opacity: 1 !important;
    transform: scale(80%);
    transition: all 500ms ease-in-out;
}

.icon-docs {
    transform: translate(3.5rem, 2rem) scale(80%) !important;
    opacity: 1 !important;
    transform: scale(80%);
    transition: all 500ms ease-in-out;
}

.logo img {
    margin: 0.8rem;
    width: 72px;
    border-radius: 100%;
    cursor: pointer;
}


#count {
    position: absolute;
    background-color: #00A060;
    padding: 12px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    border: 2.5px solid #09965d;
    left: 60px;
    top: 8%;
    cursor: pointer;
}

main {
    margin-left: 100px;
}

.boas-vindas h1,
.boas-vindas h2 {
    text-align: left;
}

.boas-vindas {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

article#quadra img {
    width: 150px
}


section.info-quadra,
section.relatorios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 1rem auto;
}


article.cont-info-quadra p {
    font-weight: bold;
}

article.cont-info-quadra,
article.grafico {
    width: calc(50%);
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out;
}

.tbl p {
    padding-bottom: 5px;
}

table {
    width: 100%;
    border: 0.5px #f0f0f0c9;
    border-spacing: 0;
    text-align: center;
}

#cabecalho {
    font-weight: bold;
    color: var(--cor01);
}


td {
    padding: 5px;
}

#title h3 {
    text-align: left !important;
}

.sobre-rel {
    display: flex;
    justify-content: space-between;
}

.btn,
.btn2 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    visibility: hidden;
    display: none;
}

.img-grafico,
.img-grafico2 {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    display: none;
}

.buton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.buton button {
    padding: 12px 24px;
    border-radius: 8px;
    border: 0.5px solid #085E3B;
    background-color: var(--cor01);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.visivel {
    display: block !important;
    visibility: visible !important;
}

.Nvisivel {
    display: none !important;
    visibility: hidden !important;
}

@media screen and (max-width: 767px) {
   
    article#valor{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }

    article#cab{
        text-align: center !important;
    }

    article#cab h3{ 
        font-style: normal;
        text-align: center !important;
    }    
    #back{
        top: 70px !important;
        left: 30px !important;
        width: 6%;
    }
    header {
        margin: 0 !important;
        width: 100%;
        height: 60px;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        flex-direction: row !important;
    }

    #bbtn {
        visibility: hidden;
        display: none;
    }

    #bbtn2 {
        display: block;
        visibility: visible;
    }


    .logo {
        margin: 15px 0px 0px 0px !important;
    }

    .config-setting img {
        display: none;
        visibility: hidden;
    }

    .menu-header {
        margin: 0 auto;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: relative;
    }

    .menu-header {
        margin: 0 !important;
    }


    #count {
        left: 45px;
        top: 50%;
    }

    .deseja-sair {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        width: 300px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 0px 0px 8px 8px;
    }


    main {
        margin: 0px 0px 0px 0px !important;
        padding-top: 70px;
    }

    .boas-vindas h1,
    h2 {
        text-align: center !important;
    }

    article#quadra {
        display: none !important;
        visibility: hidden !important;
    }


    .logo img {
        margin-top: 0.18rem !important;
        width: 52px;
        border-radius: 100%;
    }

    article.cont-info-quadra,
    article.grafico {
        width: 100%;
    }

    .notify {
        width: 100% !important;
        margin: 60px 0px 0px 0px !important;
    }
     
    .configs{
        margin: 0 !important;
    }
}

.back {
    background-color: transparent !important;
    border: 0px !important;
    color: var(--cor01) !important;
    font-size: 1.1rem !important;
}


.loader,
.loader2 {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    border: 2px solid var(--cor01);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.notify {
    transform: translateX(-200%);
    position: absolute;
    background-color: #fff;
    margin-left: 100px;
    height: 100vh;
    width: 40%;
    overflow-x: auto;
    transition: all 300ms;
    z-index: 1000;
}

#close-notify {
    position: absolute;
    right: 2px;
    top: 10px;
    cursor: pointer;
}

.notifyV {
    transform: translateX(0%) !important;
    transition: all 300ms;
z-index: 1000;
}

.notify h1 {
    margin: 1rem;
}

.notify hr {
    border-bottom: 1px solid #ffffff18 !important;
    opacity: 0.3;
}

.itms {
    display: flex;
    margin: 1rem 0rem;
}

.logo-notify {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-notify {
    padding: 5px;
}

.cont-notify h3 {
    text-align: left;
}

.cont-notify p {
    color: #000;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.configs { 
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 100px;  
    height: 100vh;
    flex-direction: column;
    gap: 3rem;
}

#back{
    position: absolute;
    left: 130px;
    top: 20px;
}  

article#cab{ 
    margin-bottom: 1.5rem;
}

article#cab h2{ 
    text-align: left;
    font-size: 2rem;
}

article#cab h3{ 
    font-style: normal;
    text-align: left;
    font-size: 1.2rem;
}

article#valor{
    display: flex;
    position: relative;
} 
article#n-part{
    margin-left: 2.5rem;
}
article#n-part, article#orde{
    display: flex;
    flex-direction: column;
     
}
article#orde{
    width: 250px;
}

.config-tabela label{
    color: #002c1a;
}

#orderSelect, #orderSelect2{
    font-size: 1rem;
    color: #085E3B;
    background-color: #b9b9b918;
    padding: 5px;
    border-radius: 8px;
}

/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #cbeec8;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #085e3b;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #085e3b;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #cbeec8;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #085e3b;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid #085e3b;
  outline-offset: 0.125rem;
}